    
    <style>      
     {  box-sizing: border-box;}
      
        
body {
    background: #1c1d26;
    margin: 0;
    @import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
    @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
        border:2px; 
    border-color: azure
}
        
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
        text-decoration: none;
}

li {
  float: left;
      text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
   background: #1c1d26;
    color: white;
}

.active {
  color: white;
}
        
     body {
    background: #1c1d26;
    font-size: 15px;
    font-weight: 300px;
    color: #b7bcbe;
    padding: 20px;
    line-height: 2;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
}

   

    .heading {
  float: none;
  padding: 20px;
 color: lightgrey;
font-size: 65px;
text-align: left;
    max-width: 100%;
    flex-direction: row;
        }

        
     .para {
  float: none;
  padding: 20px;
 color: lightgrey;
text-align: center;
max-width: 100%;
      line-height: 1.55;
        
        }
        
        .text{
        color: white;
        }
 

        
        .row {
  display: flex;
  flex-wrap: wrap;
    background-color: #1c1d26;
            
} 
    .column {
 
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
background-color: #1c1d26;
    
}
        
        
        .column img {
  margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 8px;
  vertical-align: middle;
  width: 100%;
    float: right;
background-color: #1c1d26;
    }
    
   .row:after {
  content: "";
  display: table;
    clear: both;
    background-color: #1c1d26;
        }
        
    .row2:after {
  content: "";
  display: table;
    clear: both;
    background-color: #1c1d26;
        }
        
      .columns1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    color: lightgray;
	margin: 12px 0px;
    margin-left: 0 6
}
.column1 {
	flex: 1;
	border: 1px solid lightgray;
	margin: 12px;
	padding: 10px;
     line-height: 1.55;

	
}

     .footer { 
    float: centre;
    background-color:#1c1d26;
    padding: 15px;
    color: darkgray;
    width: 100%;
    text-align: left;
    Font-size: 10px;
    text-decoration: none;}
        
        
    

    
    @media screen and (max-width: 800px) {
    .header a {
        display: block
        }
        
      .column {
    flex: 47%;
    max-width: 47%;
    background-color:#1c1d26;
    
        }
 .heading{
   max-width: 47%%;
    text-align: left;
        }
        .para1{
     width: 100%;
  }     
     .para{
    width: 100%;
    
  }     
        
      .columns1 .column1 {
		margin-bottom: 12px;
			
			flex-basis: 40%;

	
	}    
    
}
  .footer a {
        float: right;
        position: Block;
        
        }
        
    
        
        
   
    @media screen and (max-width: 600px) {
  .header a {
    display: block;}
        
    .column {
    flex: 100%;
    max-width: 100%;
    background-color: #1c1d26;
  }
   .heading{
    max-width: 32%;
    text-align:left;

        }
          
    
        .para1{
 width: 100%;
    
  } 
    .para{
    width: 100%;
    
  }     
        
.columns1 .column1 {
		flex-basis: 90%;
		margin: 0 0 12px 0;
	}
  .footer a {
        float: right;
        position: Block}
        }        
</style> 